<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Albums
            <a class="btn btn-primary pull-right" href="/add-album">
                Add Album
            </a>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Your Albums
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a ng-repeat="a in u_albums" href="/album/{{a.ID}}" class="list-group-item">
                        <span>{{ a.NAME }}</span>
                    </a>
                </div>
                <!-- /.list-group -->
                <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Trip Albums
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a ng-repeat="a in t_albums" href="/album/{{a.ID}}" class="list-group-item">
                        <span>{{ a.NAME }}</span>
                    </a>
                </div>
                <!-- /.list-group -->
                <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


