<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{album.NAME}}
            <button ng-show="album.OWNER == currentUser.ID"
                    class="btn"
                    ng-click="location.href = '/album-edit/{{album.ID}}';">
                Edit Info
            </button>
        </h1>
    </div>
</div>

<form ng-submit="addMedia()">
    URL: <input type="text" ng-model="url">
    </br>
    </br>
    Video: <input type="checkbox" ng-model="video">
    </br>
    </br>
    Private: <input type="checkbox" ng-model="private">
    </br>
    </br>
    <input type="hidden" ng-model="album" value="{{album.ID}}">
    <input class="btn" type="submit" value="Add Media">
</form>
<div>
    <div ng-repeat="m in media">
        <a href="/media/{{m.ID}}"><img width="200" src="{{m.MEDIA_URL}}"></a>
    </div>
</div>
