<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Friends
        </h1>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Current Friends</h4>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a ng-repeat="f in friends" href="/homepage/{{f.LOGIN}}" class="list-group-item">
                <span>{{ f.NAME }}</span>
                <span class="pull-right text-muted small"><em>{{ f.FRIEND_DATE }}</em>
                </span>
            </a>
        </div>
        <!-- /.list-group -->
        <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->

<div class="panel panel-default">
    <div class="panel-heading">
       <h4>Recommended Friends</h4>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <div ng-repeat="f in recs" class="list-group-item">
                <a href="/homepage/{{f.LOGIN}}">
                    <span>{{ f.NAME }}</span>
                </a>
                <button class="btn btn-primary btn-xs pull-right" ng-click="requestFriend(f)">Add Friend</button>
            </div>
        </div>
        <!-- /.list-group -->
        <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
