<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Search Results
        </h1>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Search Results for {{query}} </h4>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a ng-repeat="r in results" class="list-group-item">
                <span>{{ r.NAME }}</span>
            </a>
        </div>
        <!-- /.list-group -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->