<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Trips</h1>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Current Trips</h4>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a ng-repeat="t in trips" href="/trip/{{t.ID}}" class="list-group-item">
                <span>{{ t.NAME }}</span>
                <span class="pull-right text-muted small"><em>{{ t.PARTICIPATE_DATE }}</em>
                </span>
            </a>
        </div>
        <!-- /.list-group -->
        <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
