<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1>Add Album</h1>
    <form action="/api/postalbum" method="post">
        Name: <input type="text" maxlength="20" name="name">
        </br>
        </br>
        Trip: <input type="text" name="trip">
        </br>
        </br>
        <input class="btn" type="submit" value="Create Album">
    </form>
    </br>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
