<!DOCTYPE html>
<html>
<head>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
<div>
</div>
<div id="friends">
    <h2>Your Friends</h2>
    <% for (i = 0; i < friends.length; i++) { %>
        <% var f = friends[i] %>
        <li><a href="/homepage/<%=f.LOGIN%>"><%= f.NAME %></a></li>
    <% } %>
</div>
<div id="recs">
    <h2>Your Friend Recommendations</h2>
    <% for (i = 0; i < recs.length; i++) { %>
        <% var r = recs[i] %>
        <li><a href="/homepage/<%=r.LOGIN%>"><%= r.NAME %></a></li>
    <% } %>
</div>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
