<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1><%= user.NAME %></h1>
    <% if (currentUser.LOGIN == user.LOGIN) { %>
        <div>
            <button class="btn" onclick="location.href = '/user-edit';"> Edit Info </button>
        </div>
    <% } else if (currentUser.LOGIN) { %>
        <div>
            <button class="btn" onclick="postFriendRec"> Request Friend </button>
        </div>
    <% } %>
    <div>
    <% if (user.AFFILIATION) { %>
        Affiliation: <%= user.AFFILIATION %>
    <% } %>
    </div>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script>-->
    <!--var postFriendRec = $.post( "/api/request-friend/<%=user.ID%>", function( data ) {-->
        <!--alert('Request sent')-->
    <!--});-->
<!--</script>-->
</body>
</html>
