<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <h1>Login</h1>
  <form action="/api/login" method="get">
     Username: <input type="text" name="login">
     Password: <input type="password" name="pwd">
     <input class="btn" type="submit" value="Login">
  </form>
  <br>
  <a href="/signup"> Sign up here! </a>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
