<!DOCTYPE html>
<html>
<body bgcolor="#FAFAD2 "> 


 <center> <large> <large> <bold> <h1><font color="#000000">PennBook</font> </h1> </bold> </large> </large> </center>

 <html>
</body>
</html>

  <p style="color:red"> 
  <% if (error != null) {%>
  	<%= error%>
  <%}%>
  &nbsp;
  </p>
  <center>
  <form action="/checklogin" method="post">
    Username: <input type="text" name="username"></br>
    Password: <input type="password" name="password"></br>
    <br>
    <center> <input type="submit" value="Login"> </center?
  </form>
</center>
  </br>
  <center> <a href="/signup">Sign Up</a> </center>
  </br>
 <center> </br>
 <font color="##98CAFF"> Created by Lizzy Britton & Riddhi Sanwal </font> </center>
</body>
</html>
