<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <h1>Edit Trip</h1>
  <form action="/api/trip-edit/<%=trip.ID%>" method="post">
     Name: <input type="text" name="name" maxlength="20" value="<%= trip.NAME %>">
     <!-- Location: <input type="text" name="location" value="<%= trip.LOCATION %>"> -->
     <input class="btn" type="submit" value="Update" >
  </form>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
