<div class="col-xs-6">
    <img width="600" ngSrc="{{media.MEDIA_URL}}">
</div>
<div class="col-xs-6">
    <form ng-submit="rateMedia()">
        <input type="radio" ng-model="rating" value="1"> 1
        <input type="radio" ng-model="rating" value="2"> 2
        <input type="radio" ng-model="rating" value="3"> 3
        <input type="radio" ng-model="rating" value="4"> 4
        <input type="radio" ng-model="rating" value="5"> 5
        <input class="btn" type="submit" value="Rate">
    </form>
    <form ng-submit="commentMedia()">
        <input type="text" ng-model="comment">
        <input class="btn" type="submit" value="Comment">
    </form>
    <div>
        <div ng-repeat="c in comments">
            <a href="/homepage/{{c.U_LOGIN}}">{{ c.U_NAME }}</a>
            {{c.MEDIA_COMMENT}}
        </div>
    </div>
</div>